* {
    box-sizing: border-box;
}
body {
    background: url("./image/form-bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 15px 40px;
    width: 320px;
}
.title h1 {
    color: #01cafe;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}
.form-img__form {
    display: flex;
    justify-content: center;
}
.form__form__footer {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.form {
    display: flex;
    box-shadow: 0 0 10px #797979;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 40px 40px;
    width: 320px;
    flex-direction: column;
    text-align: center;
}
.form .form__input {
    position: relative;
    display: flex;
    margin: 20px auto;
    width: 70%;
}
.form .form__input input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #049c6f;
    color: #049c6f;
    width: 100%;
    left: 0;
    transition: all 1s ease-in-out;
}
.form__input  label {
    position: absolute;
    top: 0;
    left: 0;
    color: #049c6f;
    transition: all 1s ease-in-out;
}
.form__input input:focus ~ label,
.form__input input:valid ~ label {
    margin-top: -15px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    left: 0;
}
.form__input input:focus {
    border-bottom:  1px solid #ffffff;
}
.form a {
    text-decoration: none;
}
.form__footer {
    margin-top: 20px;
}
.form .btn {
    width: 150px;
    border-radius: 100px;
    margin-top: 30px;
    outline: none;
}
@media only screen and (max-width: 576px) {
    .form {
        width: 280px;
    }
    .title {
        width: 280px;
    }
    .title h1 {
        font-size: 20px;
    }
    .form .btn {
        width: 120px;
    }   
}   
@media only screen and (min-width: 1400px) {
    .title {
        width: 440px;
    }
    .title h1 {
        font-size: 40px;
    }
    .form {
        padding: 80px 80px;
        width: 440px;
    }
    .form .btn {
        font-size: 24px;
    }
    .nav-link {
        font-size: 20px;
    } 
}