* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: rgba(29, 29, 29, 0.88);
}
::-webkit-scrollbar-thumb {
    background: #049c6f;
    border-radius: 10px;
    height: 100px;
}
.angle__top {
    position: fixed;
    z-index: 5;
    right: 10px;
    bottom: 25px;
}
.angle__top a {
    background: linear-gradient(to left bottom, rgb(255, 0, 187), #01cafe);
    padding: 13px 16px;
    box-shadow: 0 0 6px #393939;
    transition: all 1s ease;
    position: relative;
    z-index: 2;
    border-radius: 100%;
}
.angle__top a:hover {
    border-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.angle__top a i {
    color: white;
    font-size: 20px;
}

.overlay {
    position: absolute;
    bottom: -11px;
    right: 0;
    width: 95px;
    height: 120%;
    transition: all 1s ease;
    border-radius: 50px;
}
.overlay__item {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 10%;
    top: 12%;
    display: none;
    font-family: sans-serif;
}
.angle__top:hover .overlay {
    background-color: #01cafe;
    box-shadow: 0 0 6px #393939;
    right: 70%;
    width: 220%;
}
.angle__top:hover .overlay__item {
    display: inline-block;
}


/*  HEADER  */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.88);
    box-shadow: 0 0 7px #000;
    z-index: 1;
}
.nav li {
    align-self: center;
}
.nav li a {
    color: #01cafe;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
    transition: all 1s;
    position: relative;
}
.nav li a:hover {
    color: #049c6f;
}
.nav li .exit:hover {
    color: red;
}
.nav li .exit svg {
    margin-top: -3px;
}
.nav a img {
    width: 65px;
    height: 55px;
}
.nav .nav-item .nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #049c6f;
    bottom: -15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
}
.nav .nav-item .nav-link:hover::before {
    transform: scaleX(1);
}
.nav .nav-item .exit::before {
    background-color: red;
}
.brand {
    display: flex;
    text-decoration: none;
    padding-right: 130px;
    margin: 7px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #1bd69e;
}
.brand:hover {
    color: #1bd69e;
}
.brand h1 {
    font-size: 32px;
    align-self: end;
}


.home {
    display: flex;
    justify-content: center;
    background: url(./image/home.img) no-repeat;
    background-size: cover;
    height: 100vh;
    align-self: center;
    box-shadow: 0 0 15px #000;
}
.home__title {
    text-align: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 40px 90px;
    z-index: 0;
    position: relative;
}
.home__title::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #01cafe;
    top: -7px;
    transform: scaleX(0);
    transition:all 2s;
    transform-origin: left;
}
.home__title:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.home__title h1 {
    flex-direction: column;
    font-size: 50px;
    color: #1bd69e;
    font-weight: 380;
}
.home__title p {
    color: white;
    font-family: sans-serif;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.education__fon img {
    width: 550px;
    height: 500px;
    margin-right: 50px;
}
.education__title h1 {
    text-align: center;
    font-size: 60px;
    color: #049c6f;
    font-family: sans-serif;
    margin: 100px auto;
}
/*   First-education__row   */

.first-education__row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.education__html, .education__css, .education__bootstrap {
    width: 280px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: all 1s;
    margin-right: 30px;
}
.education__html {
    box-shadow: 0 0 20px rgb(255, 123, 0);
}
.education__html:hover {
    background-color: rgb(251, 155, 66);
}
.education__html-img img, .education__css-img img, .education__bootstrap-img img {
    width: 150px;
    height: 160px;
}

.html__button, .bootstrap__button {
    width: 140px;
    font-size: 14px;
}
.education__html-img img {
    width: 200px;
}
.education__html form .html__button {
    background-color: rgb(255, 123, 0);
    box-shadow: 0 0 10px rgb(253, 208, 60);
    color: white;
}

.education__css {
    box-shadow: 0 0 20px rgb(0, 47, 255);
}
.education__css:hover {
    background-color: rgb(66, 162, 251);
}

.education__bootstrap {
    box-shadow: 0 0 20px rgb(98, 0, 255);
    margin-right: 0;
}
.education__bootstrap:hover {
    background-color: rgb(130, 0, 251);
}
.education__bootstrap form .bootstrap__button {
    background-color: rgb(103, 0, 151);
     color: white;
}

.education__continiue {
    display: flex;
    justify-content: end;
    margin: 50px 50px;
}
.education__continiue form a {
    color: white;
    text-decoration: none;
    box-shadow: 0 0 10px #797979;
    border-radius: 100px;
    width: 130px;
}



/*   Profil item   */
.profil__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item__title h1 {
    margin: 100px;
    font-size: 60px;
    text-align: center;
    color: #049c6f;
    font-family: sans-serif;
}
/*  First item  */
.first__item {
    display: flex;
    box-shadow: 0 0 10px #797979;
    margin: 20px auto;
    transition: all 1s;
}
.first__item:hover {
    box-shadow: 0 0 14px #797979;
    transform: scale(1.05);
}
.first-item__img {
    align-self: center;
}
.first-item__img img {
    width: 100px;
    height: 130px;
    margin: 20px 20px;
}
.first-item__name h1 {
    color: #01cafe;
    font-family: sans-serif;
    font-size: 26px;
    width:300px;
}
.first-item__account a {
    text-decoration: none;
    color: #01cafe;
    font-size: 13px;
}
.first-item__name__icon {
    align-self: center;
}
.first-item__icon i {
    margin-right: 5px;
}
.first-item__icon {
    display: flex;
}
.youtube__icon a i {
    color: red;
}
.github__icon a i {
    color: black;
}
.first-item__form {
    align-self: center;
    margin: 0 50px;
}
.first-item__form form .profil__button {
    padding: 7px 30px;
    box-shadow: 0 0 10px #797979;
    text-decoration: none;
    background-color: #059b43;
    color: white;
}

/*  Second item  */
.second__item {
    display: flex;
    box-shadow: 0 0 10px #797979; 
    margin: 20px auto;
    transition: all 1s;
}
.second__item:hover {
    box-shadow: 0 0 14px #797979;
    transform: scale(1.05);
}

/*   Three  item   */
.three__item {
    display: flex;
    box-shadow: 0 0 10px #797979;
    margin: 20px auto;
    margin-bottom: 100px;
    transition: all 1s;
}
.three__item:hover {
    box-shadow: 0 0 14px #797979;
    transform: scale(1.05);
}
.profil-ochish {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.profil-fon__button {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
}
.profil-sarlavha h1 {
    text-align: center;
    padding-top: 100px;
    margin: 100px 0;
    font-size: 70px;
    color: #049c6f;
    font-family: sans-serif;
}
.profil-fon img {
    width: 500px;
    height: 450px;
}
.profil-button {
    align-self: center;
}
.profil-button form .profil-ochish__btn {
    border-radius: 100px;
    padding: 10px 40px;
}
.profil-button form .profil-ochish__btn h6 {
    margin: 12px auto;
}

/*   Footer   */

.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    flex-flow: column;
    height: 270px;
} 

.logotiv {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logotiv img {
    width: 70px;
}
.logotiv h1 {
    color: #1bd69e;
    font-size: 40px;
    font-family: sans-serif;
}
.website__map {
    margin: 25px auto;
    display: flex;
    justify-content: center;
}
.website__map a {
    color: #049c6f;
}
.website__map a:hover {
    color: #049c6f;
}
.admin {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 auto;
}
.admin h3 {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}
.admin__icon {
    display: flex;
    margin: 0 auto;
}
.admin__icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 100%;
    transition: all 1s ease-in-out;
    text-decoration: none;
}
.admin__icon a i {
    color: #049c6f;
}
.admin__icon a:hover,
.admin__icon a:hover i {
    background: linear-gradient(to right, #ff91f6, #a8eeff);
    transform: rotate(360deg);
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 576px) {
    .navigation__menyu {
        display: none;
    }
    .nav {
        height: 50px;
    }
    .nav .nav-item .nav-link::before {
        bottom: -5px;
    }
    .nav a img {
        width: 30px;
        height: 25px;
    }
    .brand {
        align-self: center;
        align-items: center;
        padding-right: 40px;
    }
    .brand h1 {
        font-size: 20px;
        margin-bottom: 0;
    }

    /* Home */
    .home__title {
        padding: 20px 30px;
    }
    .home__title h1 {
        font-size: 30px;
    }
    .home__title p {
        font-size: 12px;
    }
    .home__title form .btn {
        padding: 5px 10px;
        font-size: 10px;
    }

    /*  EDUCATION*/
    .first-education__row {
        flex-flow: column;
    }
    .education__html, .education__css, .education__bootstrap {
        margin-right: 0;
        margin-bottom: 50px;
        width: 250px;
    }


    /*  Item  */

    .item__title h1 {
        font-size: 30px;
    }
    .first__item, .second__item, .three__item {
        flex-flow: column;
        width: 270px;
        padding: 20px 0;
    }
    .first-item__img {
        display: none;
    }
    .first-item__name__icon {
        justify-content: center;
        text-align: center;
    }
    .first-item__icon {
        justify-content: center;
        margin: 10px 0;
    }


    /*  PROFIL */ 
    .profil-sarlavha h1 {
        font-size: 30px;
    }
    .profil-fon {
        display: flex;
        justify-content: center;
    }
    .profil-fon img {
        width: 250px;
        height: 200px;
    }
    .profil-fon__button {
        flex-flow: column;
    }
    .website__map a {
        font-size: 9px;
    }
    .website__map a {
        padding: 0.5rem 0.6rem;
    }
}

@media only screen and (min-width: 1400px) {
    .nav a img {
        width: 85px;
        height: 75px;
    }
    .nav a h1 {
        font-size: 47px;
    }
    .nav-item .nav-link {
        font-size: 20px;
    }
    .home__title h1 {
       font-size: 60px;
    }
    .home__title p {
        font-size: 25px;
    }
    .home__title form .btn {
        padding: 17px 34px;
        font-size: 20px;
    }
    .item__title h1 {
        font-size: 75px;
    }
    .first-item__img {
        padding: 10px 10px;
    }
    .first-item__img img {
        width: 130px;
        height: 190px;
    }
    .first-item__name h1 {
        font-size: 37px;
    }
    .first-item__account a  {
        font-size: 19px;
    }
    .telegram__icon a i {
        font-size: 20px;
        margin-right: 10px;
    }
    .youtube__icon a i {
        font-size: 20px;
        color: red;
        margin-right: 10px;
    }
    .github__icon a i {
        font-size: 20px;
        color: black;
    }
    .profil-sarlavha h1 {
        font-size: 75px;
    }
    .profil-fon img {
        width: 700px;
        height: 550px;
    }
    .profil-button form .profil-ochish__btn {
        padding: 20px 45px;
    }
    .profil-button form .profil-ochish__btn h6 {
        font-size: 25px;
    }
    .footer {
        height: 340px;
    }
    .logotiv img {
        width: 100px;
    }
    .logotiv h1 {
        font-size: 50px;
    }
    .website__map a {
        font-size: 17px;
    }
    .admin h3 {
        font-size: 42px;
    }
    .admin__icon a {
        width: 42px;
        height: 42px;
    }
    .admin__icon a i {
        font-size: 16px;
    }
}